<center><h4>Chats</h4></center></br>
<table>
  <tr>
    <th>Visitor ID</th>
    <th>Browser</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @chats.each do |chat| %>
  <% unless chat.id.blank? %>
  <tr>
    <td><%= link_to chat.visitor_id, chat %></td>
    <td><%= link_to chat.fullname, chat %></td>
  </tr>
  <% end %>
<% end %>
</table>