<h1>Listing Chats</h1>

<table>
  <tr>
    <th>Kind</th>
    <th>Visitor</th>
  </tr>

<% @chat.each do |chat| %>
  <tr>
    <td><%= chat.kind %></td>
    <td><%= chat.visitor %></td>
  </tr>
<% end %>
</table>